<% provide(:subtitle, 'Basal Cell Carcinoma') %>
<%= render ('layouts/patient_header') %> 

<h2> Basal Cell Carcinoma </h2>

<ul>
  <div>
      <a href=''><li ng-click='action1.show = !action1.show'>Excise with 2mm margins</li></a>
      <p ng-show='action1.show'>Lymph Node Dissection only if clinically positive</p>
  </div>
</ul>    