<%= render 'layouts/header' %>

<h2> History </h2>
<h3> Anecodte </h3>
<p> A 56year old male comes to your office when his family physician noted a lump on the side of his neck. </p>
<h3>Ask for details about</h3>
<ul>
<li>Onset?</li>
<li>Location?</li>
<li>Growth?</li>
<li>Pain?</li>
<li>Fever?</li>
<li>Chills?</li>
<li>Recent upper respiratory infection/symptoms?</li>
<li>Other lesions or previous surgeries?</li>
<li>History of malignancy?</li>
<li>History of smoking, chewing tabacco use or alcohol?</li>
<li>History of radiation?</li>
<li>Excessive sun exposure</li>
<li>Family history of cancers, thyroid disorders, sarcoidosis?</li>
</ul>