<html ng-app>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script>
        function Ctrl($scope) {
            $scope.stage = "intro";
        }
    </script>
    <title>Oral surgery exam app</title>
    <style>
        .question {
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
            color: #008;
        }

        .question_stage {
            border: 1px solid blue;
            background-color: #eeeeff;
            padding: 20px;
        }

        button {
            font-size: 24px;
        }
    </style>
</head>
<body ng-controller='Ctrl'>
<h1>ORAL SURGERY EXAM APP</h1>
<h2>Patient no.1</h2>

<section ng-show='stage== "intro"'>
    <p>Anecdote: Mark barnes is visiting the hospital due to a high fever. He has also been waking up very sweaty.</p>

    <div id='history' class='question_stage'>
        <h2>History questions</h2>
        <p ng-click='previous_illnesses = !previous_illnesses' class='question'>Does he have any previous illnesses?</p>

        <p ng-show='previous_illnesses'>Mark has been diagnoised with HIV.</p>

        <p ng-click='lost_weight = !lost_weight' class='question'>Has he lost weight recently?</p>

        <p ng-show='lost_weight'>Mark has noticed that he's been losing weight and a fast pace. He also doesn't have very much appetite</p>

        <p ng-click='tired = !tired' class='question'>Has he been feeling tired?</p>

        <p ng-show='tired'>Mark has noticed that he's been having very low energy.</p>

    </div>

    <br><button ng-click='stage = "physical"'>PHYSICAL</button>
</section>

<section ng-show='stage=="physical"'>
    <div id='physical' class='question_stage'>
        <h2>Physical Exams</h2>
        <p ng-click='head_examined = !head_examined' class='question'>Examine his head & neck.</p>

        <div ng-show='head_examined'>
            <img src='Lymphadanopathy.JPG' style='height: 400px'>
            <p>His lymph nodes are clearly swollen.</p>
        </div>
    </div>

    <br><button ng-click='stage = "lab"'>LAB</button>
</section>

<section ng-show='stage=="lab"'>
    <div id='lab' class='question_stage'>
        <h2>LAB</h2>
        <p ng-click='ln_biopsy = true' class='question'>Lymph Node Biopsy</p>
        <p>(Risks include infection, bleeding, nerve injury, localized paralysis or numbness)</p>

        <div ng-show='ln_biopsy'>
            <img src='lymphona.jpg' style='height: 400px'>
            <p>The biopsy reveals the patient is suffering from Hodgkin's lymphona</p>
        </div>
    </div>

    <br><button ng-click='stage = "treatment"'>TREATMENT</button>
</section>

<section ng-show='stage=="treatment"'>
    <div id='treatment' class='question_stage'>
        <h2>TREATMENT</h2>
        <p ng-click='treatment = true' class='question'>Radiation therapy</p>
        <p>(Risks include nausea, vomiting, mouth/throat/stomach sores)</p>

        <p ng-show='treatment'>After a series of treatments, the lymphona has gone into remission.</p>
    </div>

    <br><button ng-click='stage = "complications"'>CHECK FOR COMPLICATIONS</button></a>
</section>

<section ng-show='stage=="complications"'>
    <div id='treatment' class='question_stage'>
        <h2>COMPLICATIONS CHECK</h2>
        <p ng-click='fibrosis_check = !fibrosis_check' class='question'>Fibrosis check</p>

        <p ng-show='fibrosis_check'>The patient is showing no signs of fibrosis after the treatment..</p>
    </div>

    <br><a href='oralExam.html'><button ng-click='stage = "intro"'>NEXT PATIENT</button></a>
</section>

</body>
</html>