<h1><%= @scenario.name %></h1>

<div class='dropdown'>
    <a role='button' id='dLabel' class='btn btn-primary' id='dropdownMenu1' data-toggle='dropdown'>Navigation <span class='caret'></span></a>
	<ul class='dropdown-menu' role='menu' aria-labelledby="dropdownMenu1">
	    <% @nav_sections.each do |section| %>
	        <li role='presentation'> <span role ='menuitem' tabindex='2'><%= link_to section.name, section %>
    </li></span></li>
	    <% end %>
	</ul>
</div>