// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
	position: relative;
	display: block;
}

.indent1 {
    padding-left: 10px;
}

.indent2 {
    padding-left: 30px;
}

.indent3 {
	padding-left: 50px;
}