// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

#logo {
	color: white;
	background-color: red;
	text-align: center;
	padding: 20px;
}

// Dropdown menu styling

.dropdown {
	position: relative;
	display: block;
}

.indent2 {
    padding-left: 20px;
}

.indent3 {
	padding-left: 40px;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}