// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
	color: white;
	background-color: red;
	text-align: center;
	padding: 20px;
}