<nav class="navbar navbar-default" role="navigation">
    <div class='navbar-header'>
        <span class='navbar-brand'><%= link_to "Oral Exam App", root_path %>
        </span>

    </div>
    <ul class="nav navbar-nav">    
        <li class="active"><%= link_to "Admin", admin_page_path %>
        </li>
    </ul>
</nav>

<div id='logo'>
  <h1>Oral Exam App</h1>
</div>
